:root{
    --first_color:#cc7722;
    --f2nd_color:#FFFDD0;
    --footercolor:#081828;
    --textheader:14px;
    --textlogo:22px;
}

.fistcontact a{
    text-decoration: none;
     color: black;
     font-weight: 400;
}
.fistcontact{
    font-size: var(--textheader);
   
}
.firslihead{
padding: 0 16px 0 0px;
border-right: 1px solid rgba(108, 108, 108, 0.491);

}
.s2ndlindhead{
    padding: 0 16px 0 6px;
    border-right: 1px solid rgba(112, 107, 107, 0.491);
}
.s3linehead{
    padding: 0 0px 0 6px;
}
.fitsleftli{
padding: 0 1rem 0 0;
border-right: 1px solid rgba(112, 107, 107, 0.491);
}
.fitsleftli-a{
    padding: 0 1rem 0 8px;
    border-right: 1px solid rgba(112, 107, 107, 0.491);
}
.fitsleftli-b{
    padding: 0 1rem 0 8px;
    border-right: 1px solid rgba(112, 107, 107, 0.491);
}
.fitsleftli-c{
    padding: 0 1rem 0 8px;
}
.logo-card-headerbg{
  background-color: var(   --first_color);
  padding: 8px;

}
.logospanarea{
  background-color: white;

}
.fontsarealogosi{
font-size: 22px;
font-weight: 700;
padding: 0 12px;
color: white;
}
.search-area{
width: 525px;
height: 40px;
position: relative;
}
.search-area input{
width: 100%;
height: 100%;
border: none;
outline: none;
border-radius: 5px;
padding: 0 2.4rem 0 1rem;
font-weight: 500;
}
.search-area-searbox{
position: absolute;
right: 0px;
top: 50%;
transform: translateY(-50%);
padding: 0 1rem 0;
}
.notificaion-0{
font-size: 10px;
padding:0px 5px;
border-radius: 6px;
top: -8px;
left: 12px;
}
.middlexw2nd,.middlexw3nd{
width: 100%;

}
.middlexw1nd{
width: 100%;
}
.fa-magnifying-glass{
color: rgba(128, 128, 128, 0.817);
font-size: 1.2rem;
}
.logo-card-headerbg1sr{
padding: 10px 8px;
}
.imgborderbg{
  background-color: var(--f2nd_color);
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_titlename{
font-weight: 600;
color: black;
font-size: 14px;
}
.product_contity{
color: gray;
font-size: 14px;
}
.product_header-show{
height: 52px;
width: 160px;
}
.items-show{
overflow: auto;
}
.items-show::-webkit-scrollbar {
    display: none;
}
.home-iconmenu{
box-shadow: 0px 4px 8px black;
width: 40px;
height: 40px;
left: 50%;
transform: translateX(-50%);
top: -29px;
background-color: white;


}
.home-menu,.search-menu,.catag-menu,.login-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down-manubar{
height: 55px;
box-shadow: 0px 0px 16px 0px #444;
max-width: 500px;
margin-inline: auto;
width: 100%;
position: fixed;
z-index: 999;
background-color: white;
left: 50%;
transform: translateX(-50%);
bottom: 2px;
}
.containerfluidbgforfooter{
  background-color: var(--footercolor);
  padding: 40px 0 20px 0;

}
.containerfluidbgfodfdfrfooter{
    background-color: var(--footercolor);
}
.fa-headset-footerfor{
font-size: 3rem;
}
.firrcollumncolro{
    color: #FBA707;
}
.dfplaue_feas{
gap: 11px;
list-style: none;
padding-left: none;
}
.dfplaue_feas li{
list-style: none;
}
.dfplaue_feas a{
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: all .5s ease-in-out;
}
.dfplaue_feas li:hover{
transform: translatex(10px);
}
.dfplaue_feas a:hover{
    color: rgb(124, 114, 114);
}
.dfplaue_feas li{
transition: all .5s ease-in-out;
    }

.s2ndclheading{
font-size: 18px;
margin-bottom: 20px;
padding-bottom: 20px;
font-weight: 700;
}
.s2ndclheading::after{
position: absolute;
height: 1px;
width: 30px;
background-color: rgb(165, 161, 161);
content: "";
bottom: 0;
left: 14px;
}
.dfplaue_feas_abc{
    gap: 11px;
    list-style: none;
    padding-left: none;
    }
    .dfplaue_feas_abc li{
        list-style: none;
        }
        .dfplaue_feas_abc a{
            text-decoration: none;
            color: white;
            display: inline-block;
            transition: all .5s ease-in-out;
        }
.icont4thCALL{
width: 35px;
height: 35px;
  background-color:rgba(255, 255, 255, 0.07);
  margin-right: 10px;
  transition: all .1s ;

}
.icont4thCALLb{
    width: 40px;
    height: 35px;
      background-color:rgba(255, 255, 255, 0.07);
      margin-right: 10px;
      transition: all .1s ;
}
.containerfluidbgforfooterfg{
  background-color: #081828;
  padding: 28px 0;

}
.textcolrowhite{
color: #ffd451;
font-weight: 700;
}
.textcoloredcolor{
font-weight: 500;
}
.containerfluidbgforfooterfg::after{
position: absolute;
height: .5px;
width: 80%;
background-color: rgb(165, 161, 161);
content: "";
top: -5px;
transform: translatex(10%);
}
.titleforheadingdx{
font-size: 19px;
font-weight: 700;
padding-top: 24px;
margin-bottom: 30px;
}
.imgfse3123fluid{
max-width: 340px;
width: 100%;
height: 200px;

}
.imgfse3123fluidff{
    max-width: 340px;
    width: 100%;
    height: auto;
    padding: 12px;
    border: 1px solid rgb(232, 232, 232);
      background-color:rgb(252, 252, 252);
      border-radius: 10px;
      transition: all .2s;
       
}
.imgfse3123fluidff:hover{
    box-shadow:0px 0px 12px 5px rgb(232, 232, 232) ;
}
.cir789ese{
width: 18px;
height: 18px;


}
.fa-star{
font-size: 9px;
}
.motttontilena{
font-weight: 600;
}
.cnnun6453{
font-size: 1.1rem;
}
.webclass7978{
font-size: 12px;
color: #3E8754;
font-weight: 700;
border-bottom: 1px dashed rgb(232, 232, 232);
}
.pricetagforbusing{
font-weight: 900;
}
.pricetagforbusing::before{
content: "";
height: 5px;
width: 5px;
position: absolute;
left: 0px;
background-color: black;
top: 50%;
transform: translateY(-50%);
border-radius: 50%;
}
.addcart_btn{
  background-color: var(--first_color);
  padding: auto;
  font-weight: 600;

}
.catagory45s44{
color: #757F95;
letter-spacing: 4px;
font-size: 17px;
font-weight: 600;
}
.caatagroruj4s4s{
font-size: 34px;
font-weight: 700;
margin-bottom: 50px;
}
.borxforicon{
width: 120px;
height: 120px;
background-color: var(--f2nd_color);
margin: 0 auto !important;
 
}
.boxforicont{
width: 100%;


}
.fotn54s4s{
font-weight: 600;
margin-top: 10px;
color: black;
transition: all .3s;
}
.fotn54s4s:hover{
color: blue;
}
.fluidxbebg{
padding: 80px 0;
}